<div id="<%= dom_id book %>">
  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

</div>
